{{#if user.name}}
    <div class="row comment mx-5">
        <div class="col-lg-11 p-2 my-3">
            <span class="text-black"><a href="/user/{{user._id}}">{{user.name}}</a> said</span>
            <p class="text-orange ml-5"><i>"{{comment}}"</i></p>
            <p class="text-black text-right">posted on {{commentDateFormat date}}</p>
        </div>
    </div>
{{/if}}