<a href="/">
<div class="navbar header-primary-green justify-content-center">
    <img src = "img/logo.png "class="navbar-brand" alt="home"/>
</div>
<div class =" header-yellow ">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" style = "color: rgb(255, 255, 255)"  href="/add_recipe">Create Recipe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style = "color: rgb(255, 255, 255)"  href="/cookbook">Recipe Book</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style = "color: rgb(255, 255, 255)"  href="/my_recipes">My Recipes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style = "color: rgb(255, 255, 255)"  href="/profile">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style = "color: rgb(255, 255, 255)"  href="/login">LogOut</a>
        </li>
    </ul>
</div>