<div class="header">
    <a href="/">
    <div class="navbar header-blue justify-content-left">
        <img src = "/img/logo.png "class="navbar-brand" alt="home"/>
    </div>
    <div class ="header-nav-blue ">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/user/5e7dc8032d173236e070f966/add">Create Recipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/5e7dc8032d173236e070f966/cookbook">Recipe Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/5e7dc8032d173236e070f966/recipes">My Recipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/5e7dc8032d173236e070f966">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/form/0">Logout</a>
            </li>
        </ul>
    </div>
</div>