<div class="row mt-5">
    <div class="col-xl-2"></div>
    <div class="col-xl-8 mt-4">
        <input id="loginUsername" class="form-control" type="text" placeholder="Username"/>
    </div>
</div>
<div class="row mt-3">
    <div class="col-xl-2"></div>
    <div class="col-xl-8 mt-4">
        <input id="loginPass" class="form-control" type="password" placeholder="Password"/>
    </div>
</div>
<div class="row my-2">
    <div id="errorMessage" class="col-xl-3"></div>
</div>
<div class="row mt-3">
    <div class="col-xl-5"></div>
    <div class="col-xl-2 mt-4">
        <button id="btnLogin" class="btn btn-secondary" type="button">Login</button>
    </div>
</div>
