 <div class="container w-70 h-auto current-black py-5 center">
    <div class="row" style="border-bottom: 10px solid #A1A2A3;">
        <h1 class="col-lg-12 page-header ">EDIT PROFILE</h1>
    </div>
    <div class="row" style="height:50px;"></div>
        
    <div class="row mx-1" style="border: 20px;">
        <div class="col-lg-7 flex-box-create">
            <h4 class="text-orange mt-2">Username</h4>
            <input class="form-control" id= "username" type="text" value="{{user.username}}"/>
            <h4 class="text-orange mt-2">Name</h4>
            <input class="form-control" id= "name" type="text" value="{{user.name}}"/>
            <h4 class=" text-orange mt-2">Password</h4>
            <input class="form-control" id = "password" type="password" value="{{user.password}}"/>
            <h4 class=" text-orange mt-2">Re-type Password</h4>
            <input class="form-control" id = "passValidation" type="password" value="{{user.password}}"/>          
            <h4 class=" text-orange mt-2">Bio</h4>
            <textarea class="form-control " id = "bio" rows = "5" placeholder="Tell something about yourself."></textarea>
        </div>
        <div class="col-lg-5">
            <h4 class="col-lg-6 text-orange">Profile Picture</h4>
            <img src="/img/profpic.png" id = "profPic" class="img-thumbnail h-75" alt="profilepic">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="profPicUp">
                <label class="custom-file-label mt-3" for="profPicUp">Choose file</label>
            </div>
        </div>
    </div>
            
        <div id="recipeContainer">
            <h4 class="text-orange">Recipes</h4> 
            <div class="display-res  ml-5 pl-5">
                {{#each recipes}}
                    {{> recipe_card username = ../user.name}}
                {{/each}}
            </div>
        </div>
    </div>
        
    <div  class="row mx-4 mt-5">
        <button class="btn btn-secondary col-lg-3 mr-3" id= "submit">Save Changes</button>
        <p class="col-lg-7 text-right" id="errorMessage"></p>
    </div>
</div>        

<script src="/js/editprofile.js"></script>