<div class="container w-50 current-black mt-3 pb-5 center">
    <div class="row">
        <div class="col-xl-6 pt-2 pl-3" id="login_tab">
            <h2 class="text-orange">LOGIN</h2>
        </div>
        <div class="col-xl-6 pt-2 pl-3 bg-black" id="signup_tab">
            <h2 class="text-orange">SIGNUP</h2>
        </div>
    </div>
    <div id="content">
        <form action="/loginUser" method="POST">
            <div class="row mt-5">
                <div class="col-xl-2"></div>
                <div class="col-xl-8 mt-4">
                    <input id="loginUsername" name="username" class="form-control" type="text" placeholder="Username"/>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-xl-2"></div>
                <div class="col-xl-8 mt-4">
                    <input id="loginPass" name="pass" class="form-control" type="password" placeholder="Password"/>
                </div>
            </div>
            <div class="row my-3">
                <div id="errorMessage" class="col-xl-8">{{error_msg}}</div>
            </div>
            <div class="row my-3">
                <div id="successMessage" class="col-xl-8">{{success_msg}}</div>
            </div>
            <div class="row mt-3">
                <div class="col-xl-5"></div>
                <div class="col-xl-2 mt-4">
                    <input type="submit" id="btnLogin" class="btn btn-secondary" value="Login">
                </div>
            </div>
        </form>
    </div>
    <script src="/js/userforms.js"></script>
</div>