 <div class="container w-70  current-black py-5 center">
    <div class="row" style="border-bottom: 10px solid #A1A2A3;">
        <h1 class="col-lg-12 page-header ">MY RECIPES</h1>
    </div>
    <div class="row" style="height:50px;"></div>
    {{#if recipes}}
        <div class="display-res ml-5 pl-5">
            {{#each recipes}}
                {{> recipe_card username = ../user.name}}
            {{/each}}
        </div>
    {{else}}
        <div class="row mx-5 text-black">
            <p>It seems like you don't have any recipes posted! <a href="/user/{{session.user}}/add">Click here</a> to add one!</p>
        </div>
    {{/if}}
</div>